rules_version = '2';
service cloud.firestore {
  match /databases/{database}/{documents} {
    allow read, write: if documents.matches(string(request.auth.uid));
    match /trips/{document=**} {
      allow write: if string(request.auth.uid) in resource.data.userIDs;
      allow read, write: if resource.data.ownerID == string(request.auth.uid);
      allow create: if request.auth.uid != null;
    }
  }
}