.input-bordered {
    padding: 5px 15px;
    background: transparent;
    border: 2px solid #046be2;
    border-radius: 1em;
    transition: ease 0.4s;
    width: 80%;
}

.input-bordered:hover, .input-bordered:focus {
    border: 2px solid #013661;
    border-radius: 1em;
    outline: none;
}

.input-bordered:focus {
    background-color: rgb(1, 54, 97, 0.075);
}

.button {
    cursor: pointer;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #046be2;
    padding: 5px 15px;
    background: transparent;
    border: 2px solid #046be2;
    border-radius: 1em;
    transition: ease 0.4s;
    font-size: 1em;
    display: block;
}

.auth-container label:first-child, #map-container-trip-form label:first-child {
    padding: 0 0 10px 20px;
}

.auth-container label:not(:first-child), #map-container-trip-form label:not(:first-child) {
    padding: 25px 0 10px 20px;
}

.auth-container label, #map-container-trip-form label {
    display: block;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

#auth-login .button {
    margin: 25px 0 25px 132px;
}

#map-container-trip-form {
    width: calc(100% - 40px);
    padding: 20px;
}

#map-container-trip-form input {
    width: inherit;
}

.button-fill:hover {
    background-color: #046be2 !important;
    border: 2px solid #046be2;
    color: white;
}

.button:focus {
    border: 2px solid #046be2;
    border-radius: 1em;
    outline: none;
}

.auth-container .button {
    width: 130px;
}

.auth-container span {
    box-sizing: border-box;
}

#map-container-menu-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 90000;
    margin: 0;
    background-color: white;
}

.triplist-trash {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

#create-trip, #map-container-trip-close {
    position: absolute;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    right: 30px;
}

@media screen and (max-width: 600px) {
    .auth-container .button {
        margin: 25px auto;
    }
    
    .auth-container span {
        margin: 25px auto;
    }
}